@model NetCoreCrudCodefirst.Models.UpdateFighterViewModel

@{
}
<h2>Update Fighter</h2>
<form method="post" action="ViewEmployee" class="mt-5">
    <div class="mb-3">
        <label for="">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="">Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="">Email</label>
        <input type="Email" class="form-control" placeholder="Enter Email" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="">Phone</label>
        <input type="number" class="form-control" placeholder="Enter Phone" asp-for="Phone">
    </div>
    <div class="mb-3">
        <label for="">DOB</label>
        <input type="date" class="form-control" placeholder="Enter DOB" asp-for="DOB">
    </div>
    <div class="mb-3">
        <label for="">Description</label>
        <input type="text" class="form-control" placeholder="Enter Description" asp-for="Description">
    </div>

    <button type="submit" class="btn btn-primary" asp-controller="Fighters" asp-action="ViewEmployee">Update</button>
    <button type="submit" class="btn btn-danger" asp-controller="Fighters" asp-action="DeleteEmployee">Delete</button>
</form>